<%- include('./partials/header.ejs') %>
    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="padding-left: 17%; padding-top: 2%; padding-right: 5%;">
            <h3 align="center">Add Student</h3>
            <form action="/" method="post">
                <div class="form-group" style="padding-top: 12%;">
                  <label for="exampleInputEmail1"><b>Name</b></label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" name="name">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
                </div>
                <div class="form-group" style="padding-top: 5%;">
                  <label for="exampleInputPassword1"><b>Age</b></label>
                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Age" name="age">
                </div>
                <div class="form-group" style="padding-top: 5%; padding-bottom: 5%;">
                    <label for="exampleInputPassword1"><b>Fees</b></label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Fees" name="fees">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-6" style="padding-top: 2%; padding-right: 13%;">
            <h3 align="center" style="padding-bottom: 12%;">List of Students</h3>
            <div  style="max-height: 350px; overflow-y: auto;">
              <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Fees</th>
                    <th scope="col" align="center" style="padding-left:30px ;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% var i=1 %>
                  <% data.forEach((item)=>{%>
                    <tr>
                        <th scope="row"><%= i++ %></th>
                        <td><%= item.name %></td>
                        <td><%= item.age %></td>
                        <td><%= item.fees %></td>
                        <td>
                          <form action="/edit/<%= item._id %>" method="get" class="btn btn-inline">
                            <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Edit" style="padding: 3px;">
                                <i class="fas fa-edit"></i> <!-- FontAwesome edit icon -->
                            </button>
                          </form> 
                          <form action="/delete/<%= item._id %>" method="post" class="btn btn-inline">
                            <button class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Delete" style="padding: 3px;">
                                <i class="fas fa-trash"></i> <!-- FontAwesome trash icon -->
                            </button>
                          </form>                                            
                        </td>
                      </tr>
                  <% }) %>  
                  
                </tbody>
              </table>
            </div>
            
        </div>
    </div>
</div>   

    
<%- include('./partials/footer.ejs') %>
